html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "col1 col2";
  gap: 1rem;
  background-color: #f2f1ed;
}

.pano {
  grid-area: banner;
  padding: 1rem;
  padding-bottom: 0;
}

.logo {
  width: 14rem;
  grid-area: banner;
  z-index: 1;
  align-self: end;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;

}


h1 {
  padding-bottom: 0;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin: 0;
  padding: 1rem;
}

p {
  margin: 0;
  padding-left: 1rem;
}

nav {
  grid-area: banner;
  display: flex;
  place-content: end;
  padding-right: 1rem;
}

ul li a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  align-self: end;

}

figure {
  margin: 0;
}

main {
  display: flex;
  display: contents;
}

li {
  display: flex;
  display: contents;
  justify-content: space-around;
}
